<!DOCTYPE html>
<head>
    <link rel="stylesheet" type= "text/css" href="../css/style.css">
    <link rel="stylesheet" type="text/css" href="../css/games_near_you.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <title>Mecze obok Ciebie</title>
</head>
<body>
    <div class="find-match-container">
        <nav>
            <img src="../img/logo.svg">
            <ul>
                <li>
                    <i class="fas fa-home"></i>
                    <a href="#" class="button">Strona Główna</a>
                </li>
                <li>
                    <i class="far fa-futbol"></i>
                    <a href="#" class="button">Znajdz Mecz</a>
                </li>

                <span>LISTA LIG </span>
                <li>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-facebook-square"></i>
                    <i class="fab fa-facebook-square"></i>
                </li>
            </ul>
        </nav>
        <main>
            <div class="game-near-you-logo">
                <img class="gny-logo" src="../img/gameNearYou.svg">
            </div>
            <section class="game-near-you">
                <div id="game-1">
                    <div class="gny-icon"><i id="Icon3" class="fas fa-search-location"></i></div>
                    <div class="gny-date">
                        <div class="address-leauge-date">
                            <div class="address">
                                <p>ul.Warszawska24, Kraków </p>
                                <p>1.5km</p>
                            </div>
                            <p class="leauge">Nazwa ligi</p>
                            <p class="date">1 Października 2021 8:00</p>
                        </div>
                    <div class="team-vs-team">
                        <p>Team A</p>
                        <div class="horizontal-line"></div>
                            <p>Team B</p>
                        </div>

                    </div>
                </div>
                <div></div>
                <div>game 3</div>
                <div>game 4</div>
                <div>game 5</div>
            </section>
    
        </main>
    </div>
</body>