section {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 2em;
  padding: 2em;
  overflow: auto;
}

.game-near-you > div {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  width: 700px;
  display: flex;
  flex-direction: row;
}

.gny-icon {
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#Icon3 {
  color: gray;
  font-size: 3em;
}

.gny-date {
  display: flex;
  flex-direction: column;
}
